{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 px-4 ml- btn btn-success rounded-pill">推しメン</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>no.</th>
                    <th>画像</th>
                    <th>名前</th>
                    <th>金額</th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    
                    
                </tr>

                {% endfor %}
               
            </tbody>

            
        </table>
        <hr>
        <div class="m-3 p-3">
        {% csrf_token %}
            <a href="https://buy.stripe.com/test_fZe6rB0Kg5Tm10c145" target="_blank" class="btn btn-outline-success border rounded  col-lg-3 float-right">お支払い</a>
            
        </div>
        
      
   </div>
</div>





{% endblock %}